:root {
  --black-bg-color: black; /* Default color for the button */
  --white-bg-color: white;
  --blue-bg-color: rgb(204, 234, 246, 0.3);
  --dark-blue-bg-color: rgb(204, 234, 246);
}
body{
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  background-color: var(--blue-bg-color);
}
.clock{
  margin-left: 20vw;
  height: 20vw;
  width:60vw;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: var(--black-bg-color);
  gap: 30px;
}
.time{
  background-color: var(--white-bg-color);
  height: 20vw;
  width:60vw;
  font-size: 9vw;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 900px) {
  .clock {
    margin-top: 30vh;
  }
  button{
    margin-top: -3vh;
    margin-left: 75vw;
  }
}
@media (max-width: 900px) {
  .clock {
    margin-top: 20vw;
  }
  button{
    margin-top: -2vw;
    margin-left:75vw;
  }
}
.digit{
  background-color: var(--dark-blue-bg-color);
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: 5px 5px 20px var(--black-bg-color);
}
button{
  position: absolute;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color:black;
}
body.dark-mode {
  --black-bg-color: rgba(255,255,255,0.9);
  --white-bg-color: black;
  --blue-bg-color: rgb(0, 0, 0, 0.8);
  --dark-blue-bg-color: rgb(0, 0, 0, 0.1);
}
body.dark-mode button{
  border: 1px solid white;
}